# Build directories
build/
install/
log/
**/build/
**/install/
**/log/

# But keep important log folder in vehicle_simulator
!workspaces/autonomous_exploration/src/vehicle_simulator/log/
!workspaces/autonomous_exploration/src/vehicle_simulator/log/**

# But keep important log folder in go2_simulator
!workspaces/autonomous_exploration/src/go2_simulator/log/
!workspaces/autonomous_exploration/src/go2_simulator/log/**

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
Evaluation
logo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log
*.bak

# Documentation build
docs/_build/
docs/build/

# ROS
*.bag
*.db3
*.mcap
*.simplemap
*.mm

# PLY files (large point cloud data) - exclude generated submaps
workspaces/open3d_slam_ws/src/ros/open3d_slam_ros/data/*.ply
*.pcd

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

/rosbags

frames_*.gv
frames_*.pdf
commands
rosbag.zip
.gitignore
commands
rosbag2_2026_03_03-14_37_07/rosbag2_2026_03_03-14_37_07_0.mcap
rosbag2_2026_03_03-14_46_17/metadata.yaml
rosbag2_2026_03_03-14_46_17/rosbag2_2026_03_03-14_46_17_0.mcap
commands
workspaces/mola_lo/rosbag_01/rosbag_01_0.mcap
workspaces/mola_lo/rosbag_01/metadata.yaml
workspaces/mola_lo/myMap.simplemap


/maps

# MOLA specific
workspaces/mola_lo/src/mola_test_datasets/
workspaces/mola_lo/rosbag_01/

/saved_vgraphs
maps.zip
workspaces/unitree_sim_ws/src/unitree-go2-ros2/robots/configs/go2_config/worlds/simpleWorld.world
